<div class="ui items" [ngClass]="{ focused : comments === true }">
  <div class="item">
    <div class="image">
      <img src="http://placehold.it/150x75">
    </div>
    <div class="content">
      <a class="header" (click)="comments = ! comments">
        {{ post?.title }}
      </a>

      <div class="meta">
        <span>{{post?.author}} - {{post?.date}}</span>
      </div>

      <div class="description">
        <p>
          {{post?.content}}
        </p>
      </div>
      <div class="extra">

        <app-blog-post-comment *ngIf="comments"></app-blog-post-comment>

      </div>
    </div>
  </div>
</div>
