
<div class="ui hidden divider"></div>

<div class="ui left floated tiny image">
  <a class="ui left red corner label">
    <i class="heart icon"></i>
  </a>
  <img src="http://placehold.it/125">
</div>

<div class="content">
  <a class="author">Product Title</a>
  <div class="metadata">
    <span class="date">Product Price</span>
  </div>
  <br>
  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id sint placeat nisi eius impedit ipsam officiis. Necessitatibus et asperiores illo fugiat suscipit recusandae, cum nemo fuga harum. Eaque, itaque.
  </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui primary button">
  <i class="shop icon"></i> Add to Cart
</div>
