
<div class="ui hidden divider"></div>

<div class="ui left floated tiny image">
  <a class="ui left red corner label">
    <i class="heart icon"></i>
  </a>
  <img src="assets/images/{{product?.image}}">
</div>

<div class="content">
  <a class="author">{{product?.title}}</a>
  <div class="metadata">
    <span class="date">{{product?.price}}</span>
  </div>
  <br>
  <div class="text">
    {{product?.description}}
  </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui primary button">
  <i class="shop icon"></i> Add to Cart
</div>
